<div class="container">
  <h1 class='text-center'>My Favorite Pokemon</h1>
  <div class="row justify-content-center">
    <% faves.forEach(function(pokemon) { %>
      <div class="card col-md-4 m-2">
        <h2><%= pokemon.name %></h2>

          <form class="form-group" action="/pokemon/<%=pokemon.name%>/?_method=DELETE" method="post">
            <a href="/pokemon/<%=pokemon.name%>" class="btn btn-info" >More Info</a>
            <input type="Submit" name="" class='btn btn-danger' value="Delete">
          </form>
      </div>

    <% }); %>
  </div>
</div>
